<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Room</title>
</head>
<body>
    <h1><%= room ? "Edit" : "Add" %> Room</h1>
    <form action="<%= room ? `/rooms/update/${room.RoomID}` : '/rooms/create' %>" method="post">
        <label for="roomName">Room Name:</label>
        <input type="text" id="roomName" name="roomname" value="<%= room ? room.roomname : '' %>" required>
        
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" value="<%= room ? room.capacity : '' %>" required>

        <label for="status">Status:</label>
        <select id="status" name="Status" required>
            <option value="Available" <%= room && room.Status === 'Available' ? 'selected' : '' %>>Available</option>
            <option value="Booked" <%= room && room.Status === 'Booked' ? 'selected' : '' %>>Booked</option>
        </select>
        
        <button type="submit"><%= room ? "Update" : "Create" %></button>
    </form>
</body>
</html>
